body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

h1 {
  text-align: center;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

label {
  display: block;
  padding: 0.5rem;
}

input {
  width: 100%;
  padding: 0.1rem;
}

button {
  margin: 10px 0;
  background-color: darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.result-container {
  font-style: bold;
}